QLabel {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

QPushButton {
    background-image: url(./resources/button_background.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    max-width: 300px;
    max-height: 60px;
    color: white;
}

#optionsButton {
    font-size: 15px;
    padding: 8px;
    min-width: 125px;
    max-width: 125px;
    max-height: 40px;
}

QPushButton:hover {
    opacity: 0.8;
}

QLineEdit {
    color: white;
}

QListWidget {
    color: white;
}
